<!DOCTYPE html>
<html>
  <head>
    <title>Prison</title>
    <%= favicon_link_tag 'favicon.ico' %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class='dark:bg-slate-900 '>
    <!-- added flash messages for devise -->
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <!-- end flash -->
    <main class="">
      <!-- class was: 'container mx-auto mt-28 px-5 flex'
           with some components it looks good, others it does not.
           I think created by tailwind gem. -->
      <%= yield %>
    </main>
  </body>
</html>
